﻿@*@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityUser>*@
@*@model IEnumerable<COMP4900_SOCE_WebApp.Models.RegisterViewModel>*@
@model IEnumerable<COMP4900_SOCE_WebApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<input type="submit" value="Manage User Roles" class="btn btn - info - outline" onclick="location.href='@Url.Action("ManageUserRoles", "Users")'">
<input type="submit" value="Add New User" class="btn btn-success - outline" onclick="location.href='@Url.Action("Create", "Users")'">
@*@Html.ActionLink("Manage User Role", "ManageUserRoles", null, new { @class = "btn btn - info - outline" })
@Html.ActionLink("Add New User", "Create", null, new { @class = "btn btn - success - outline" })*@


<table class="table">
    <tr>
        <th hidden>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th hidden>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th hidden>
                @Html.DisplayFor(modelItem => item.Id)    
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Roles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @*@Html.ActionLink("LockOut", "LockOut", new { id = item.Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
