﻿@model SensorDataModel.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>

<div>    
    <hr />
    <p>
        <input type="submit" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Projects")'">
        <input type="submit" value="Edit" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Projects", new { id = Model.ProjectId } )'"><br />
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
        @Html.ActionLink("Back to List", "Index")*@
    </p>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        @if (User.IsInRole("Admin"))
        {
            <dt>
                Users
            </dt>
            <dd>
                <input type="submit" value="Assign Users" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("AssignUsersToProjects", "Projects", new { id = Model.ProjectId })'">
            </dd>
            <dt>
                Sensors
            </dt>
            <dd>
                <input type="submit" value="Assign Single" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("AssignSensorsToProjects", "Projects", new { id = Model.ProjectId })'">
                <input type="submit" value="Remove Single" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("RemoveSensorsFromProjects", "Projects", new { id = Model.ProjectId })'">
                <input type="submit" value="Assign Group" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("AssignGroup", new { id = Model.ProjectId })'">
                <input type="submit" value="Remove Group" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("RemoveGroup", new { id = Model.ProjectId })'">
            </dd>
        }

        <dt>
            Assigned User
        </dt>
        <dd>
            @ViewBag.AssignedUserValue
        </dd>

        <dt>
            Add Custom Group
        </dt>
        <dd>
            <input type="submit" value="Add" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Create", "CustomGroups", new { id=Model.ProjectId })'">
        </dd>
        
        <dt>
            Custom Groups
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <td>Custom Group</td>
                    <td>Sensor</td>
                </tr>
                @foreach (var item in ViewBag.CustomGroupValues)
                {
                    <tr>
                        <td>
                            @item.CustomGroupName
                        </td>
                        <td>
                            @item.SensorName
                        </td>
                        <td>
                            <input type="submit" value="Remove" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Delete", "CustomGroups", new { id=item.CustomGroupId})'">
                        </td>
                    </tr>
                }
            </table>
        <dt>
            Assigned Sensors
        </dt>
        <dd>
            @foreach (var i in ViewBag.SensorList)
            {
                @i<br />
            }
        </dd>
    </dl>
</div>
