﻿@model IEnumerable<SensorDataModel.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>

<p>
    @if (User.IsInRole("Admin"))
    {
        <input type="submit" value="Create New" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Create", "Projects")'">
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>Project Reports</th>
        <th>Project Details</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Administration</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProjectDescription, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.DisplayFor(model => item.UserName, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                <input type="submit" value="Report" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Reports"  , "Reports", new { id=item.ProjectId })'">
            </td>
            <td>
                <input type="submit" value="Details" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Details"  , "Projects", new { id=item.ProjectId })'">
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <input type="submit" value="Edit" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Edit"  , "Projects", new { id=item.ProjectId })'">
                    <input type="submit" value="Remove" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Delete", "Projects", new { id=item.ProjectId })'">
                </td>
            }
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

