﻿@model SensorDataModel.Models.SensorProject
@{
    ViewBag.Title = "RemoveGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript">
        //$("#add").click(function () {

        //console.log($("input[name='SelectedType']:checked").val());

        $("input[name='SelectedType']").on('change', function () {
            var pType = $("input[name='SelectedType']:checked").val();
            var pId = @Html.Raw(ViewBag.projectId);
            $.ajax({
                url: '@Url.Action("ConfirmRemove", "Projects")',
                data: { id: pId, projType: pType },
                type: 'POST',
                success: function (data) {
                    alert("removed " + pType);
                },
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
            })
        });
    </script>
}

<h2>Remove Group of Sensors</h2>
<div class="btn-group" data-toggle="buttons">
    @foreach (var i in ViewBag.ProjectTypes)
    {
        string val = i;
        <label class="btn btn-primary">
            @Html.RadioButton("SelectedType", val)
            <span>@val</span>
        </label>
    }
</div>
<div>
    @Html.ActionLink("Back to Project Details", "Details", "Projects", new { id = ViewBag.projectId }, null)
</div>



