﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Edit Text Box */
#Description,
#item_Description
{
    margin: 0px !important;
    width: 286px !important; 
    height:100px !important;
}

/*Change jumbotron feature for index*/
.jumbotron {
    margin-top: 30px;
    background-color: #9ffbdc !important;
}

/*Change menu bar color*/
.navbar-inverse {
    background-color:#020b5b !important;
}