﻿@model SensorDataModel.Models.SensorProject

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to Remove this Sensor from Project?</h3>
<div>
    <h4>Sensor Assigned Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SensorProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorProjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "RemoveSensorsFromProjects", "Projects", new { id = ViewBag.ProjectId }, null)
        </div>
    }
</div>
