﻿@model IEnumerable<SensorDataModel.Models.SavedReport>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeginDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>Export to csv</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.ReportName)*@
                @Html.ActionLink((string)item.ReportName, "SavedReports", "Reports", new { repName = item.ReportName }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomGroupName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink((string)item.ReportName, "Export", "SavedReports", new { repName = item.ReportName }, null)
                @*@Html.ActionLink("Edit", "Edit", new { id=item.SavedReportId }) |
                    @Html.ActionLink("Details", "Details", new { id=item.SavedReportId }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.SavedReportId })*@
            </td>
        </tr>
    }

</table>