﻿@model SensorDataModel.Models.CustomGroup

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Custom Group: @ViewBag.CustGroupName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @*@Html.ActionLink("Back to Project Details", "Details", "Projects", new { id = ViewBag.ProjectId }, null)*@
            @Html.ActionLink("Back to Project Details", "Details", "Projects", new { id = @ViewBag.ProjectId }, null)
        </div>
    }
</div>
