﻿@model SensorDataModel.Models.CustomGroup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomGroup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SensorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SensorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CustomGroupId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
