﻿@model IEnumerable<SensorDataModel.Models.CustomGroup>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
Custom groups for: @ViewBag.User
@foreach (var custom in ViewBag.Test)
{
    @custom<br />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomGroupName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SensorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustomGroupName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SensorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustomGroupId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustomGroupId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustomGroupId })
        </td>
    </tr>
}

</table>
